
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title MWF | Dashboard
link(rel="stylesheet", href="css/style.css")  
.container
div.sidebar(style="width:20px; height:20px")
  .navigation
    ul
      li
        a(href)
          span.icon
            img(src="/images/mwflogo.png", alt="logo", width="30", height="30")
          span.title MWF Ltd
      li
        a(href)
          span.icon
            ion-icon(name="home-outline")
          span.title Dashboard
      li
        a(href)
          span.icon
            ion-icon(name="cube-outline")
          span.title Stock
      li
        a(href)
          span.icon
            ion-icon(name="people-outline")
          span.title Users
      li
        a(href)
          span.icon
            ion-icon(name="cart-outline")
          span.title Sales
      li
        a(href)
          span.icon
            ion-icon(name="people-circle-outline")
          span.title Suppliers
      //- li
      //-   a(href)
      //-     span.icon
      //-       ion-icon(name="settings-outline")
      //-     span.title Settings
      li
        a(href)
          span.icon
            ion-icon(name="log-out-outline")
          span.title Logout
