
body {
  background-color: #F9F6EF; /* Light Cream */
  font-family: 'Segoe UI', sans-serif;
  color: #333333;
}

h2, h4, h5 {
  color: #245A36; /* Deep Green titles */
}

p {
  color: #333333;
}


/* ========== Summary Cards ========== */
.card {
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.card.bg-success {
  background-color: #245A36 !important; /* Deep Green */
  color: #fff !important;
}

.card.bg-primary {
  background-color: #A85D26 !important; /* Warm Brown */
  color: #fff !important;
}

.card.bg-warning {
  background-color: #D4A373 !important; /* Gold / Wood Tone */
  color: #000 !important;
}

.card.bg-danger {
  background-color: #a83232 !important; /* Red for alerts */
  color: #fff !important;
}

/* ========== Buttons ========== */
.btn-outline-dark {
  border-color: #245A36;
  color: #245A36;
  transition: 0.3s;
}

.btn-outline-dark:hover {
  background-color: #245A36;
  color: white;
}

/* ========== Footer ========== */
footer {
  font-size: 14px;
  color: #A85D26 ;
  /* background-color: black;
  border-top: 2px solid #D4A373; Accent wood tone */
}
