 /* General Layout 
body {
  background-color: #F9F6EF;
  
  color: #333333;
} */


/* 
h2, h4, h5 {
  color: #245A36;      Deep green titles 
}

p {
  color: #333333;
}





/*  Buttons  */
/* .btn-outline-dark {
  border-color: #245A36;
  color: #245A36;
}

.btn-outline-dark:hover {
  background-color: #245A36;
  color: white;
} */


/*  Footer */
/* footer {
  font-size: 14px;
  color: #666;
} */
 


/* styles for low stock card */
.separator {
  width: 1px;
  background-color: #ccc;
  margin: 0 10px;
  align-self: stretch; /* makes it stretch vertically */
}
