
body {
  background-color: #F9F6EF; /* Light Cream */
 
}

h2, h4, h3 {
  color: #245A36; /* Deep Green */
}



Buttons
.btn-outline-dark {
  border-color: #245A36;
  color: #245A36;
}

.btn-outline-dark:hover {
  background-color: #245A36;
  color: #fff;
}

/* Footer */
footer {
  font-size: 14px;
  color: #666;
  background-color: #f1f1f1;
  
}
