
body {
  background-color: #F9F6EF; /* Light Cream */
 
}

h2, h4, h3 {
  color: #245A36; /* Deep Green */
}

#saleForm{
  border: 2px;
  background-color: #f8f9fa;
  border-radius: 10px;         /* Rounded corners */
  padding: 10px;               /* Space inside the border */
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1); /* Subtle shadow */
  overflow-y: auto;
  margin-bottom: 36px;
};

Buttons
.btn-outline-dark {
  border-color: #245A36;
  color: #245A36;
}

.btn-outline-dark:hover {
  background-color: #245A36;
  color: #fff;
}

/* Footer */
footer {
  font-size: 14px;
  color: #666;
  background-color: #f1f1f1;
  
}
