
body {
  background-color:  #F9F6EF;
  font-family: 'Segoe UI', sans-serif;
  color: #333333;
}
/*  Navbar  */
.navbar {
  background-color: #245A36; /* Deep Green */
}

.navbar-brand img {
  margin-right: 10px;
  border-radius: 8px;
}


.navbar .nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid #D4A373; /* Gold/wood tone highlight */
}

h2, h4 {
  color: #6B4226; /* Deep wood brown */
}

.btn-success {
  background-color: #4CAF50;
  border: none;
}

.btn-success:hover {
  background-color: #45a049;
}

/*  Table Styles  */
table th {
  background-color: #6B4226 !important;
  color: #fff;
}

.bg-light {
  background-color: #f0f0f0 !important;
}

.text-muted {
  font-size: 14px;
}
/*form*/
#stockForm{
  border: 2px;
  border-radius: 15px;
  background-color: #f8f9fa;
  border-radius: 10px;         /* Rounded corners */
  padding: 20px;               /* Space inside the border */
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1); /* Subtle shadow */
}

/*  Footer  */
footer {
  background-color: #eee;
  font-size: 14px;
}
